# Include CSON files in GitHub's language breakdown graph
*.cson  linguist-detectable

# Exclude fixtures from language analysis
tests/* linguist-vendored

# Exclude unnecessary files from distribution
/bin    export-ignore
/tests  export-ignore
