clearsnippets
clearsnippets trigger1 trigger2

priority -1
snippet example "Cleared example"
endsnippet

snippet trigger_word "description" "expression" options
endsnippet

context "python_expression: 1 + 2 / 3"
snippet trigger_word "description" options
